<h2>Welcome!</h2>
<p>Hi, I am Manoj and I am currently a resident at Google Brain.</p>

<p>I recently graduated from the <a href="http://cds.nyu.edu/">Center for Data Science, NYU </a> with a masters
in Data Science. Before that, I studied Mechanical Engineering at
<a href="https://en.wikipedia.org/wiki/Birla_Institute_of_Technology_and_Science,_Pilani_%E2%80%93_Goa_Campus">BITS Pilani, Goa.</a></p>

<p>I am a maintainer of the scikits <a href="http://scikit-optimize.github.io/">scikit-optimize</a>
  and <a href="http://scikit-garden.github.io/">scikit-garden</a> and a core developer
  of <a href="http://scikit-learn.org/">scikit-learn</a>.
I have also contributed to <a href="https://spark.apache.org/">Apache Spark</a>,
<a href="https://en.wikipedia.org/wiki/Apache_SystemML">SystemML</a> and
<a href="http://www.sympy.org/en/index.html">SymPy</a> at some point in my life.

<p>Outside of work, I enjoy running, watching cricket, movies and am a
  certified armchair activist.</p>

<p>I am active on <a href="https://github.com/MechCoder">Github</a>, obviously
  and on <a href="https://twitter.com/MechCoderr">Twitter</a>. A full copy
  of my CV can be seen <a href="https://github.com/MechCoder/curriculum-vitae/blob/master/resume.pdf">here.
